<div class="container p-4">
    
    <div class="row" *ngIf="mascotas.length > 0; else siestavacio">

        <div class="col-md-4"  *ngFor="let mascota of mascotas">
    
            <div class="card text-center">
    
                <div class="card-body">
    
                    <h3>
                        {{mascota.nombre}}
                    </h3>
    
                    <h6>
                        Raza: {{mascota.raza}}, Edad: {{mascota.edad}} meses, Sexo: {{mascota.sexo}}
                    </h6>
    
                    <a href="{{mascota.url_foto}}" title="clic para ver la foto"><img src="{{mascota.url_foto}}" alt="imagen mascota" class="card-img-top mx-auto m-2" style="height: 200px; width:90%; object-fit: cover;"></a>
    
                    <h6>
                        Descripción: {{mascota.descripcion}}
                    </h6>
    
                </div>
    
            </div>
    
        </div>
    
    </div>
    
    <ng-template #siestavacio>
    
        <div class="col-md-5 mx-auto">
    
            <div class="card text-center">
    
                <div class="card-body">
    
                    <h5>
                        No hay mascotas disponibles actualmente
                    </h5>
    
                </div>
    
            </div>
    
        </div>
    
    </ng-template>
     
</div>